/** 
 @Name: layer皮肤--jiuyuan默认蓝色样式
 @Date: 2018.06.11
 @Author: Adi
 @remark:
    1.弹出层标题的背景颜色更改为深蓝色
    2.按钮的背景颜色为绿色
**/

html #layui_layer_skinsamdefaultstylecss{display:none; position: absolute; width:1989px;}

body .layer-ext-samdefault .layui-layer-content .layui-layer-ico{width:48px; height:48px;}
body .layui-ext-samdefault .layui-layer-title{background-color:#D6E5FA;border: none;}
body .layui-ext-samdefault .layui-layer-btn{border-top:1px solid #E9E7E7;}
body .layui-ext-samdefault .layui-layer-btn a{width:54px; height:24px; color:#ffffff; display:block; text-align:center; font-size:12px; margin:auto; line-height:24px; background-color:#72D872; border-radius:3px; margin-top:15px;}
body .layui-ext-samdefault .layui-layer-btn .layui-layer-btn1{background:#999;}
